<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/#contact">Contact Form</a></li>
    <li><a href="/admin">Admin Page</a></li>
    <li><a href="https://github.com/Karau1218" target="_blank">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/fredrick-karau/" target="_blank">LinkedIn</a></li>
  </ul>
</nav>

