<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/contact">Contact Form</a></li>
    <li><a href="/admin">Admin Page</a></li>
    <li><a href="https://github.com/YourGitHub" target="_blank">GitHub</a></li>
    <li><a href="https://linkedin.com/in/YourLinkedIn" target="_blank">LinkedIn</a></li>
  </ul>
</nav>
