<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Form Submitted</title>
</head>
<body>
  <h1>Thank you for contacting us!</h1>
  <p>Your information has been successfully submitted.</p>
  <a href="/">Back to form</a>
</body>
</html>
