body {
    background-color: #f0f0f0; /* Light gray background for the page */
    padding: 20px;
}
main {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.form-row {
  display: flex;
  gap: 20px;        /* space between the the text area boxes */
  margin-bottom: 15px; /* space below the text area boxes */

}

.form-row div {
  flex: 1;          /* make both the dropdown and textbox equal width */
  display: flex;
  flex-direction: column; /* makes it horizontally alligned 3times */
}

input[type="text"],
input[type="url"],
input[type="email"] {
  padding: 8px;
  box-sizing: border-box;
}


.form-group {
  flex: 1; /* makes both equal width */
  display: flex;
}


.form-group select,
.form-group input[type="text"] {
  padding: 8px; /* makes the How did we meet drop down bigger */
  box-sizing: border-box; /* spacing between how did we meet and other */
}

label {
  display: block;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

}
.checkbox-group {
  display: flex;
  flex-direction: column; /* Stack vertically */
  align-items: flex-start; /* Align text to left */
}

.radio-group {
  margin-left: 24px; /* indent slightly to match text alignment */
  display: none; /* hidden by default */
}



.radio-options {
  display: flex;
}

button {
  display: block;
  width: 10%;
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

/* Error message styling */
.error {
  color: red;
  font-size: 0.9em;
  margin-top: 4px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}
