body {
    background-color: #f0f0f0; /* Light gray background for the page */
    padding: 20px;
}
main {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
fieldset{
display: block;
    unicode-bidi: isolate;
    margin: 0;
    flex-direction:row;
}

.form-row {
  display: flex;
  gap: 20px;        /* space between the two fields */
  margin-bottom: 15px;

}

.form-row div {
  flex: 1;          /* make both the dropdown and textbox equal width */
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="url"],
input[type="email"] {
  padding: 8px;
  box-sizing: border-box;
}

.form-section {
  align-items: flex-start; /* aligns labels evenly */
  flex-wrap: wrap; /* allows wrapping on smaller screens */
}
.form-group {
  flex: 1; /* makes both equal width */
  display: flex;
}


.form-group select,
.form-group input[type="text"] {
  padding: 8px;
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

}


label {
  padding: 8px;
  box-sizing: border-box;
}


.radio-options {
  display: flex;
}




button {
  display: block;
  width: 10%;
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}